@import url(https://fonts.googleapis.com/css?family=Monda:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Staatliches:regular&display=swap);
body {
  font-family: Monda, sans-serif;
  font-weight: regular;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

main {
  height: 100vh;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background-color: #e1e1e1;
}

.navigation {
  position: fixed;
  z-index: 20;
  top: 0;
  left: -170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 200px;
  -webkit-transition: 700ms;
  transition: 700ms;
}
.navigation:hover {
  left: 0;
}
.navigation:hover .navigation__bar {
  width: 6px;
  background-color: #9913e1;
  color: transparent;
}
.navigation__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  z-index: 22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e1e1e1;
}
.navigation__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 100%;
  border: 1px solid #a9a9a9;
  border-left: none;
  border-right: none;
  background-color: #e1e1e1;
  -webkit-transition: 400ms;
  transition: 400ms;
}
.navigation__item::before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  height: 100%;
  width: 8px;
  opacity: 0;
  background-color: #9913e1;
}
.navigation__item:hover {
  -webkit-box-flex: 2;
      -ms-flex: 2 0 auto;
          flex: 2 0 auto;
  width: calc(100% + 30px);
  color: #9913e1;
  font-weight: 700;
  font-size: 1.2rem;
}
.navigation__item:hover::before {
  opacity: 1;
}
.navigation__link {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding: 5px 10px;
  text-transform: uppercase;
}
.navigation__link.active {
  background-color: #a9a9a9;
  color: #9913e1;
}
.navigation__arrow {
  width: 100%;
  height: 10%;
}
.navigation__arrow a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}
.navigation__arrow img {
  height: 60%;
}
.navigation__arrow_up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.navigation__arrow-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}
.navigation__bar {
  z-index: 21;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  padding: 20px 0;
  background-color: #a9a9a9;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #e1e1e1;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: 700ms;
          transition-duration: 700ms;
}

.screen {
  height: 100vh;
  overflow: hidden;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.stickers {
  position: relative;
  width: 100%;
  height: 60px;
  z-index: 6;
}
.stickers__item {
  position: absolute;
  display: inline-block;
  padding: 0 18px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #e1e1e1;
}
.stickers__item_black {
  background-color: #000;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}
.stickers__item_purple {
  right: 0;
  bottom: 0;
  background-color: #9913e1;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.textblock {
  z-index: 5;
  text-align: justify;
  line-height: 1.4rem;
  font-size: 1.2rem;
}
.textblock_center {
  text-align: center;
}
.textblock__bold {
  font-size: 1.25rem;
  font-weight: 700;
  color: #9913e1;
}
.textblock__bold_white {
  color: #e1e1e1;
}

.title {
  position: relative;
  z-index: 5;
  font-family: Staatliches;
  font-size: 6rem;
  line-height: 5.5rem;
}
.title span {
  color: #9913e1;
}
.title_white span {
  color: #e1e1e1;
}

.button {
  z-index: 4;
  min-width: 250px;
  min-height: 50px;
  padding: 0 70px;
  border-radius: 25px;
  border: 4px solid #9913e1;
  background-color: #e1e1e1;
  color: #9913e1;
  font-family: Monda, sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
}
.button_white {
  border: 4px solid #e1e1e1;
  background-color: #9913e1;
  color: #e1e1e1;
}

.link-button {
  z-index: 4;
  min-width: 250px;
  min-height: 50px;
  padding: 0 70px;
  border: 4px solid #e1e1e1;
  border-radius: 25px;
  background-color: #9913e1;
  color: #e1e1e1;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 42px;
  -webkit-transition: 400ms;
  transition: 400ms;
}
.link-button:hover {
  background-color: #e1e1e1;
  color: #9913e1;
}

.header {
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: auto;
  background-color: transparent;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10%;
  width: 40%;
  margin: 0 auto;
  padding: 20px 0;
}
.header-nav__link {
  text-transform: uppercase;
  font-size: 1.4rem;
}
.header-nav__link_active {
  font-weight: 700;
  color: #9913e1;
}
.header-nav__link:hover {
  color: #9913e1;
}

@media (max-width: 1000px) {
  .header {
    display: none;
  }
}
.firstscreen__info {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.firstscreen__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  z-index: 2;
}
.firstscreen__logo {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 15%;
  width: 10%;
}

.firstscreen-info__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
  z-index: 2;
}
.firstscreen-info__img {
  z-index: 2;
  width: 50%;
  margin-top: 30%;
}
.firstscreen-info__stickers {
  font-size: calc(13px + 3 * (100vw - 1024px) / 896);
}
.firstscreen-info__bgelement {
  position: absolute;
  z-index: 1;
}
.firstscreen-info__bgelement_zigzag {
  position: absolute;
  top: 30%;
  right: -20%;
  width: 55%;
  z-index: 1;
}
.firstscreen-info__bgelement_ragged {
  left: 0;
  height: 100%;
}
.firstscreen-info__bgelement_grange {
  left: 24%;
  width: 48%;
}

.dates__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dates__datesinfo {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  background-color: #9913e1;
}
.dates__calendar {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.dates-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 100%;
  margin: 0 auto;
}
.dates-info__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}
.dates-info__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.dates-info__button {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
.dates-info__bgelement {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 21%;
}

.dates-calendar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4%;
  width: 60%;
  height: 100%;
  margin: 0 auto;
}
.dates-calendar__choosedate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 30px;
  width: 100%;
  margin: 6% 0 2%;
}
.dates-calendar__actualdate {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #9913e1;
  font-size: 1.7rem;
  font-weight: bold;
}
.dates-calendar__rightbutton {
  width: 9%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.dates-calendar__stickers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}
.dates-calendar__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dates-calendar__textblock {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}
.dates-calendar__bgelement {
  position: absolute;
  z-index: 1;
}
.dates-calendar__bgelement_zigzag {
  left: 22%;
  bottom: 5%;
  width: 23%;
}
.dates-calendar__bgelement_ragged {
  top: 0;
  left: 0;
  width: 100%;
}
.dates-calendar__bgelement_grangeleft {
  left: 0;
  bottom: 0;
  height: 67%;
}
.dates-calendar__bgelement_grangeright {
  right: 0;
  height: 82%;
}

.tickets__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  z-index: 2;
}
.tickets__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tickets__photo {
  position: absolute;
  bottom: 7%;
  height: 30%;
  width: 100%;
}

.tickets-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15%;
  width: 80%;
  height: 45%;
  margin-top: 10%;
}
.tickets-info__titleblock {
  position: relative;
}
.tickets-info__bgelement {
  position: absolute;
  z-index: 1;
}
.tickets-info__bgelement_zigzag {
  left: 22%;
  bottom: -8%;
  width: 50%;
}
.tickets-info__bgelement_grange {
  top: 0;
  right: 0;
  height: 37%;
}
.tickets-info__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4%;
}
.tickets-info__descriptblock {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tickets-info__button {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
.tickets-info__textblock {
  margin-bottom: 5%;
}

.tickets-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 1%;
  z-index: 2;
}
.tickets-photo__item {
  height: 100%;
}

.about__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  z-index: 2;
}

.about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.about-info__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  height: 80%;
}
.about-info__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.about-info__sliderbuttonsblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8% 0;
}
.about-info__sliderbutton img {
  width: 75%;
}
.about-info__sliderbutton_left img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.about-info__sliderbutton_right {
  text-align: right;
}
.about-info__sliderbutton_right img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.about-info__bgelement {
  position: absolute;
  z-index: 1;
}
.about-info__bgelement_zigzag {
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 95%;
}
.about-info__bgelement_ragged {
  top: 0;
  left: 0;
  height: 84%;
}

.bonus__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.bonus__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  z-index: 2;
}
.bonus__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.bonus-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bonus-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  height: 55%;
}
.bonus-info__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15%;
}
.bonus-info__bgelement {
  position: absolute;
  z-index: 1;
}
.bonus-info__bgelement_zigzag1 {
  top: 10%;
  left: -2%;
  width: 22%;
}
.bonus-info__bgelement_zigzag2 {
  right: -3%;
  bottom: 10%;
  width: 30%;
}
.bonus-info__bgelement_grange {
  top: 0;
  right: 0;
  height: 50%;
}

.arena__container {
  background-color: #9913e1;
}
.arena__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  z-index: 2;
}
.arena__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.arena-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.arena-info__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
  height: 55%;
}
.arena-info__button {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
.arena-info__bgelement {
  position: absolute;
  z-index: 1;
}
.arena-info__bgelement_arrow01 {
  left: -10%;
  top: -37%;
  width: 30%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
.arena-info__bgelement_arrow02 {
  left: -25%;
  top: -20%;
  width: 20%;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.arena-info__bgelement_arrow03 {
  right: -10%;
  bottom: -25%;
  width: 40%;
  -webkit-transform: rotate(-210deg);
          transform: rotate(-210deg);
}
.arena-info__bgelement_ragged {
  top: 0;
  right: 0;
  height: 100%;
}

.artists__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.artists__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  height: 50%;
}
.artists__slider-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 8%;
}
.artists__slider-button img {
  width: 100%;
}
.artists__slider-button_left {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.artists__slider-button_right {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.artists__infoblock {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}
.artists__bgelement {
  position: absolute;
  z-index: 1;
}
.artists__bgelement_grange {
  top: 0;
  left: 10%;
  width: 35%;
}
.artists__bgelement_raggedleft {
  left: 0;
  height: 100%;
}
.artists__bgelement_raggedright {
  right: 0;
  height: 100%;
}

.artist-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.artist-info__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #9913e1;
}
.artist-info__star {
  width: 65%;
}
.artist-info__textblock {
  width: 90%;
}
.artist-info__bgelement {
  width: 100%;
}

.feedback__container {
  background-color: #9913e1;
}
.feedback__info {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.feedback__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  z-index: 2;
}

.feedback-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedback-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7%;
  width: 60%;
  height: 70%;
}
.feedback-info__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
}
.feedback-info__bgelement {
  position: absolute;
  z-index: 1;
  height: 50%;
  left: 0;
  bottom: 0;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3%;
}
.form__item {
  height: 50px;
  padding: 10px 30px;
  border-radius: 25px;
  border: 4px solid #e1e1e1;
  outline: none;
  background-color: #9913e1;
  color: #e1e1e1;
  font-family: Monda;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
}
.form__item::-webkit-input-placeholder {
  color: #e1e1e1;
}
.form__item::-moz-placeholder {
  color: #e1e1e1;
}
.form__item:-ms-input-placeholder {
  color: #e1e1e1;
}
.form__item::-ms-input-placeholder {
  color: #e1e1e1;
}
.form__item::placeholder {
  color: #e1e1e1;
}
.form__item_message {
  height: 300px;
}
.form__item_button {
  margin-top: 3%;
  background-color: #e1e1e1;
  color: #9913e1;
}

.lastscreen__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.lastscreen__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}
.lastscreen__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lastscreen-photo__item_left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}
.lastscreen-photo__item_right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.lastscreen-info {
  position: relative;
}
.lastscreen-info__bgelement {
  position: absolute;
  z-index: 1;
  bottom: 0;
}
.lastscreen-info__bgelement_grange {
  left: 0;
  height: 60%;
}
.lastscreen-info__bgelement_ragged {
  right: 0;
  height: 75%;
}

.footer {
  width: 60%;
  height: 60%;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 13%;
}
.footer__button {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.footer-nav {
  font-size: 1.5rem;
}
.footer-nav__title {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 8%;
}
.footer-nav__item:hover {
  color: #9913e1;
}

.popup {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(18, 2, 27, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.popup.open {
  z-index: 30;
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__window {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  padding: 30px;
}
.popup__window {
  position: relative;
  z-index: 31;
  max-width: 1100px;
  min-height: 650px;
  background-color: #fff;
  overflow: hidden;
  -webkit-transition: 300ms;
  transition: 300ms;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 10%);
          transform: translate(0, 10%);
}
.popup__closebutton {
  position: absolute;
  z-index: 39;
  width: 40px;
}

.modal-dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal-dates__closebutton {
  right: 10px;
  top: 10px;
}
.modal-dates__image1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  z-index: 33;
}
.modal-dates__info {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-dates__textblock {
  z-index: 33;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}
.modal-dates__textblock p {
  width: 80%;
}
.modal-dates__image2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  z-index: 33;
}
.modal-dates__bgelement {
  position: absolute;
}
.modal-dates__bgelement_zigzag {
  z-index: 32;
  width: 55%;
  top: 30%;
  right: -10%;
}
.modal-dates__bgelement_grange {
  z-index: 32;
  width: 60%;
  top: -15%;
  left: -10%;
}
.modal-dates__bgelement_ragged1 {
  z-index: 35;
  width: 50%;
  left: 0;
  bottom: 0;
}
.modal-dates__bgelement_ragged2 {
  z-index: 35;
  height: 50%;
  top: 0;
  right: 0;
}
.modal-dates__texture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 34;
  width: 100%;
  height: 100%;
}
.modal-dates__texture_noize {
  opacity: 0.8;
}
.modal-dates__texture_membrane {
  opacity: 0.3;
}

.modal-arena {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-arena__closebutton {
  right: 10px;
  top: 10px;
}
.modal-arena__textblock {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  z-index: 33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-arena__textblock p {
  width: 80%;
}
.modal-arena__photo {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 33;
}
.modal-arena__image1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}
.modal-arena__image2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.modal-arena__bgelement {
  position: absolute;
}
.modal-arena__bgelement_grange {
  width: 50%;
  top: 0;
  left: 0;
}
.modal-arena__bgelement_zigzag {
  top: 15%;
  left: 50%;
  width: 35%;
}
.modal-arena__bgelement_ragged1 {
  height: 50%;
  top: 0;
  left: 0;
}
.modal-arena__bgelement_ragged2 {
  width: 60%;
  top: 0;
  right: 0;
}
.modal-arena__texture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 34;
  width: 100%;
  height: 100%;
}
.modal-arena__texture_noize {
  opacity: 0.8;
}
.modal-arena__texture_membrane {
  opacity: 0.3;
}