@import url(https://fonts.googleapis.com/css?family=Monda:regular,700);
@import url(https://fonts.googleapis.com/css?family=Staatliches:regular);
html {
  scroll-behavior: smooth;
}

body {
  font-family: Monda;
  font-weight: regular;
}

.screen {
  height: 100vh;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background-color: #e1e1e1;
}

.stickers {
  position: relative;
  width: 100%;
  height: 60px;
  z-index: 6;
}
.stickers__item {
  position: absolute;
  display: inline-block;
  padding: 0 18px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #e1e1e1;
}
.stickers__item_black {
  background-color: #000;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}
.stickers__item_purple {
  right: 0;
  bottom: 0;
  background-color: #9913e1;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.textblock {
  line-height: 1.4rem;
  font-size: 1.2rem;
  text-align: justify;
  z-index: 5;
}
.textblock_center {
  text-align: center;
}
.textblock__bold {
  font-weight: 700;
  color: #9913e1;
}
.textblock__bold_white {
  color: #e1e1e1;
}

.title {
  position: relative;
  z-index: 5;
  font-family: Staatliches;
  font-size: 6rem;
  line-height: 5.5rem;
}
.title span {
  color: #9913e1;
}
.title_white span {
  color: #e1e1e1;
}

.button {
  z-index: 4;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  border: 4px solid #9913e1;
  background-color: #e1e1e1;
  color: #9913e1;
  font-family: Monda;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
}
.button_white {
  border: 4px solid #e1e1e1;
  background-color: #9913e1;
  color: #e1e1e1;
}

.navbutton {
  position: absolute;
  right: 3%;
  height: 8%;
  z-index: 7;
}
.navbutton img {
  height: 100%;
}
.navbutton_up {
  top: 5%;
}
.navbutton_up img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.navbutton_down {
  bottom: 5%;
}

.header__container {
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  z-index: 3;
  display: block;
  width: 100%;
  height: auto;
  background-color: transparent;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10%;
  width: 40%;
  margin: 0 auto;
  padding: 20px 0;
}
.navigation__link {
  text-transform: uppercase;
  font-size: 1.4rem;
}
.navigation__link_active {
  font-weight: 700;
  color: #9913e1;
}

.firstscreen__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.firstscreen__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  z-index: 2;
  background-image: url("../images/voice01.png");
  background-size: cover;
}

.firstscreeninfo__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
  z-index: 2;
}
.firstscreeninfo__img {
  z-index: 2;
  width: 50%;
  margin-top: 30%;
}
.firstscreeninfo__bgelement {
  position: absolute;
  z-index: 1;
}
.firstscreeninfo__bgelement_zigzag {
  position: absolute;
  top: 30%;
  right: -20%;
  width: 55%;
  z-index: 1;
}
.firstscreeninfo__bgelement_ragged {
  left: 0;
  height: 100%;
}
.firstscreeninfo__bgelement_logo {
  top: 10%;
  left: 10%;
  width: 10%;
}
.firstscreeninfo__bgelement_grange {
  left: 24%;
  width: 48%;
}

.dates__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dates__datesinfo {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  background-color: #9913e1;
}
.dates__calendar {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
}

.datesinfo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 100%;
  margin: 0 auto;
}
.datesinfo__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}
.datesinfo__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.datesinfo__bgelement {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 21%;
}

.datescalendar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4%;
  width: 60%;
  height: 100%;
  margin: 0 auto;
}
.datescalendar__choosedate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 30px;
  width: 100%;
  margin: 6% 0 2%;
}
.datescalendar__actualdate {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #9913e1;
  font-size: 1.7rem;
  font-weight: bold;
}
.datescalendar__rightbutton {
  width: 9%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.datescalendar__stickers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}
.datescalendar__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.datescalendar__textblock {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}
.datescalendar__bgelement {
  position: absolute;
  z-index: 1;
}
.datescalendar__bgelement_zigzag {
  left: 22%;
  bottom: 5%;
  width: 23%;
}
.datescalendar__bgelement_ragged {
  top: 0;
  left: 0;
  width: 100%;
}
.datescalendar__bgelement_grangeleft {
  left: 0;
  bottom: 0;
  height: 67%;
}
.datescalendar__bgelement_grangeright {
  right: 0;
  height: 82%;
}

.tickets__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  z-index: 2;
  background-image: url("../images/voice03.png");
  background-size: cover;
}
.tickets__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tickets__photo {
  position: absolute;
  bottom: 7%;
  height: 30%;
  width: 100%;
}

.ticketsinfo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15%;
  width: 80%;
  height: 45%;
  margin-top: 10%;
}
.ticketsinfo__titleblock {
  position: relative;
}
.ticketsinfo__bgelement {
  position: absolute;
  z-index: 1;
}
.ticketsinfo__bgelement_zigzag {
  left: 22%;
  bottom: -8%;
  width: 50%;
}
.ticketsinfo__bgelement_grange {
  top: 0;
  right: 0;
  height: 37%;
}
.ticketsinfo__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4%;
}
.ticketsinfo__descriptblock {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.ticketsinfo__textblock {
  margin-bottom: 5%;
}

.ticketsphoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 1%;
  z-index: 2;
}
.ticketsphoto__item {
  height: 100%;
}

.about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  z-index: 2;
  background-image: url("../images/voice05.png");
  background-size: cover;
}

.aboutinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.aboutinfo__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  height: 80%;
}
.aboutinfo__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.aboutinfo__sliderbuttonsblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8% 0;
}
.aboutinfo__sliderbutton img {
  width: 75%;
}
.aboutinfo__sliderbutton_left img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.aboutinfo__sliderbutton_right {
  text-align: right;
}
.aboutinfo__sliderbutton_right img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.aboutinfo__bgelement {
  position: absolute;
  z-index: 1;
}
.aboutinfo__bgelement_zigzag {
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 95%;
}
.aboutinfo__bgelement_ragged {
  top: 0;
  left: 0;
  height: 84%;
}

.bonus__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.bonus__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  z-index: 2;
  background-image: url("../images/people04.png");
  background-size: cover;
}
.bonus__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
}

.bonusinfo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bonusinfo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  height: 55%;
}
.bonusinfo__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15%;
}
.bonusinfo__bgelement {
  position: absolute;
  z-index: 1;
}
.bonusinfo__bgelement_zigzag1 {
  top: 10%;
  left: -2%;
  width: 22%;
}
.bonusinfo__bgelement_zigzag2 {
  right: -3%;
  bottom: 10%;
  width: 30%;
}
.bonusinfo__bgelement_grange {
  top: 0;
  right: 0;
  height: 50%;
}

.arena__container {
  background-color: #9913e1;
}
.arena__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  z-index: 2;
  background-image: url("../images/people05.png");
  background-size: cover;
}

.arenainfo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.arenainfo__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
  height: 55%;
}
.arenainfo__bgelement {
  position: absolute;
  z-index: 1;
}
.arenainfo__bgelement_arrow01 {
  left: -10%;
  top: -37%;
  width: 30%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
.arenainfo__bgelement_arrow02 {
  left: -25%;
  top: -20%;
  width: 20%;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.arenainfo__bgelement_arrow03 {
  right: -10%;
  bottom: -25%;
  width: 40%;
  -webkit-transform: rotate(-210deg);
          transform: rotate(-210deg);
}
.arenainfo__bgelement_ragged {
  top: 0;
  right: 0;
  height: 100%;
}

.artists__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.artists__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  height: 50%;
}
.artists__sliderbutton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 8%;
}
.artists__sliderbutton img {
  width: 100%;
}
.artists__sliderbutton_left {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.artists__sliderbutton_right {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.artists__infoblock {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}
.artists__bgelement {
  position: absolute;
  z-index: 1;
}
.artists__bgelement_grange {
  top: 0;
  left: 10%;
  width: 35%;
}
.artists__bgelement_raggedleft {
  left: 0;
  height: 100%;
}
.artists__bgelement_raggedright {
  right: 0;
  height: 100%;
}

.artistinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.artistinfo__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #9913e1;
}
.artistinfo__star {
  width: 65%;
}
.artistinfo__textblock {
  width: 90%;
}
.artistinfo__bgelement {
  width: 100%;
}

.feedback__container {
  background-color: #9913e1;
}
.feedback__info {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.feedback__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  z-index: 2;
  background-image: url("../images/voice06.png");
  background-size: cover;
}

.feedbackinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedbackinfo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7%;
  width: 60%;
  height: 70%;
}
.feedbackinfo__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
}
.feedbackinfo__bgelement {
  position: absolute;
  z-index: 1;
  height: 50%;
  left: 0;
  bottom: 0;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3%;
}
.form__item {
  height: 50px;
  padding: 10px 30px;
  border-radius: 25px;
  border: 4px solid #e1e1e1;
  outline: none;
  background-color: #9913e1;
  color: #e1e1e1;
  font-family: Monda;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
}
.form__item::-webkit-input-placeholder {
  color: #e1e1e1;
}
.form__item::-moz-placeholder {
  color: #e1e1e1;
}
.form__item:-ms-input-placeholder {
  color: #e1e1e1;
}
.form__item::-ms-input-placeholder {
  color: #e1e1e1;
}
.form__item::placeholder {
  color: #e1e1e1;
}
.form__item_message {
  height: 300px;
}
.form__item_button {
  margin-top: 3%;
  background-color: #e1e1e1;
  color: #9913e1;
}

.contacts__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}
.contacts__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

.contactsphoto__item_left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  z-index: 2;
  background-image: url("../images/voice02.png");
  background-size: cover;
}
.contactsphoto__item_right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  z-index: 2;
  background-image: url("../images/people01.png");
  background-size: cover;
}

.contactsinfo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactsinfo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  height: 60%;
}
.contactsinfo__logo {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 13%;
}
.contactsinfo__bgelement {
  position: absolute;
  z-index: 1;
  bottom: 0;
}
.contactsinfo__bgelement_grange {
  left: 0;
  height: 60%;
}
.contactsinfo__bgelement_ragged {
  right: 0;
  height: 75%;
}

.column {
  font-size: 1.5rem;
}
.column__title {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 8%;
}