.tickets {
    &__image {
        flex: 0 0 30%;
        z-index: 2;
    }
    &__info {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
    }
    &__slider {
        position: absolute;
        z-index: 5;
        bottom: 7%;
        right: 0;
        height: 30%;
        width: 80%;
    }
}
.tickets-info {
    &__content {
        display: flex;
        flex-direction: column;
        gap: 15%;
        width: 80%;
        height: 45%;
        margin-top: 10%;
    }
    &__titleblock {
        position: relative;
    }
    &__bgelement {
        position: absolute;
        z-index: 1;
        &_zigzag {
            left: 22%;
            bottom: -8%;
            width: 50%;
        }
        &_grange {
            top: 0;
            right: 0;
            height: 37%;
        }
    }
    &__description {
        display: flex;
        justify-content: space-between;
        gap: 4%;
    }
    &__descriptblock {
        flex: 0 0 48%;
        display: flex;
        flex-direction: column;
    }
    &__button {
        align-self: start;
    }
    &__textblock {
        margin-bottom: 5%;
    }
}
.tickets-slider {
    overflow: hidden;
    &__wrapper {
        display: flex;
        width: 100%;
        height: 100%;
    }
    &__slide {
        width: auto;
        height: 100%;
        flex-shrink: 0;
    }
    &__photo {
        height: 100%;
    }
}
