.tickets {
    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 100%;
        background-color: $color-gray;
    }
    &__image {
        flex: 0 0 30%;
        z-index: 2;
        background-image: url("../images/voice03.png");
        background-size: cover;
    }
    &__content {
        display: flex;
        flex-direction: column;
    }
    &__info {
        flex: 0 0 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__photo {
        height: 30%;
    }
    &__bgelement {
        position: absolute;
        top: 0;
        right: 0;
    }
}
.ticketsinfo {
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 15%;
        width: 86%;
        height: 70%;
    }
    &__titleblock {
        position: relative;
    }
    &__title {
    }
    &__bgelement {
        position: absolute;
        left: 22%;
        bottom: -8%;
        width: 50%;
        z-index: 1;
    }
    &__description {
        display: flex;
        justify-content: space-between;
        gap: 4%;
    }
    &__descriptblock {
        flex: 0 0 48%;
        display: flex;
        flex-direction: column;
    }
    &__textblock {
        margin-bottom: 5%;
    }
    &__button {
    }
}
.ticketsphoto {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: end;
    gap: 3%;
}
