.tickets {
    &__image {
        flex: 0 0 30%;
        z-index: 2;
        background-image: url("../images/voice03.png");
        background-size: cover;
    }
    &__info {
        flex: 0 0 70%;
        display: flex;
        justify-content: center;
    }
    &__photo {
        position: absolute;
        bottom: 7%;
        height: 30%;
        width: 100%;
    }
}
.ticketsinfo {
    &__content {
        display: flex;
        flex-direction: column;
        gap: 15%;
        width: 80%;
        height: 45%;
        margin-top: 10%;
    }
    &__titleblock {
        position: relative;
    }
    &__bgelement {
        position: absolute;
        z-index: 1;
        &_zigzag {
            left: 22%;
            bottom: -8%;
            width: 50%;
        }
        &_grange {
            top: 0;
            right: 0;
            height: 37%;
        }
    }
    &__description {
        display: flex;
        justify-content: space-between;
        gap: 4%;
    }
    &__descriptblock {
        flex: 0 0 48%;
        display: flex;
        flex-direction: column;
    }
    &__textblock {
        margin-bottom: 5%;
    }
}
.ticketsphoto {
    display: flex;
    justify-content: end;
    gap: 1%;
    z-index: 2;
    &__item {
        height: 100%;
    }
}