.about {
    &__container {
        position: relative;
        display: flex;
        height: 100%;
        background-color: $color-gray;
    }
    &__image {
        flex: 0 0 50%;
        z-index: 2;
        background-image: url("../images/voice05.png");
        background-size: cover;
    }
    &__upbutton,
    &__downbutton {
        left: auto;
        right: 3%;
    }
}
.aboutinfo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 60%;
        height: 80%;
    }
    &__button {
        align-self: center;
    }
    &__sliderbuttons {
        display: flex;
        justify-content: space-between;
        margin: 8% 0;
    }
    &__leftbutton {
        img {
            width: 75%;
            transform: rotate(90deg);
        }
    }
    &__rightbutton {
        text-align: right;
        img {
            width: 75%;
            transform: rotate(-90deg);
        }
    }
    &__bgelement {
        position: absolute;
        z-index: 1;
        &_zigzag {
            top: 0;
            left: 50%;
            transform: translate(-50%);
            width: 95%;
        }
        &_ragged {
            top: 0;
            left: 0;
            height: 84%;
        }
    }
}
