.bonus {
    &__container {
        flex-direction: column;
    }
    &__image {
        flex: 0 0 35%;
        z-index: 2;
        overflow: hidden;
    }
    &__info {
        flex: 1 1 auto;
    }
}
.bonus-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content {
        z-index: 2;
        display: flex;
        width: 65%;
        height: 55%;
    }
    &__title {
        transition: 1800ms;
        transform: translateX(-80vw);
    }
    &__title.active {
        transform: translateX(0);
    }
    &__description {
        flex: 0 0 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15%;
        transition: 1500ms;
        transform: translateX(-80vw);
    }
    &__description.active {
        transform: translateX(0);
    }
    &__bgelement {
        position: absolute;
        z-index: 1;
        &_zigzag1 {
            top: 10%;
            left: -2%;
            width: 22%;
        }
        &_zigzag2 {
            right: -3%;
            bottom: 10%;
            width: 30%;
        }
        &_grange {
            top: 0;
            right: 0;
            height: 50%;
        }
    }
}