.arena {
    &__container {
        background-color: $color-purple;
    }
    &__image {
        flex: 0 0 50%;
        z-index: 2;
    }
    &__info {
        flex: 1 1 auto;
    }
}
.arena-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 55%;
        height: 55%;
    }
    &__button {
        align-self: start;
    }
    &__arrow {
        position: absolute;
        z-index: 1;
        color: $color-lightgray;
        line-height: 0;
        transition: 1500ms;
        &_1 {
            left: -10%;
            top: -37%;
            font-size: 10rem;
            transform: translate(-150px, -300px) rotate(-15deg);
        }
        &_1.active {
            transform: translate(0, 0) rotate(-15deg);
        }
        &_2 {
            left: -25%;
            top: -20%;
            font-size: 7rem;
            transform: translate(-300px, -300px) rotate(-40deg);
        }
        &_2.active {
            transform:translate(0, 0) rotate(-40deg);
        }
        &_3 {
            right: -10%;
            bottom: -25%;
            font-size: 13rem;
            transform: translate(300px, 400px) rotate(150deg);
        }
        &_3.active {
            transform:translate(0, 0) rotate(150deg);
        }
    }
    &__bgelement {
        position: absolute;
        z-index: 1;
        &_ragged {
            top: 0;
            right: 0;
            height: 100%;
        }
    }
}