.artists {
    &__container {
        justify-content: center;
        align-items: center;
    }
    &__content {
        position: relative;
        display: flex;
        width: 100%;
        height: 50%;
    }
    &__slider-button {
        z-index: 5;
        position: absolute;
        top: 50%;
        line-height: 0;
        color: $color-darkgray;
        font-size: 6rem;
        &_left {
            left: 10%;
            transform: rotate(90deg) translate(-50%);
        }
        &_right {
            right: 10%;
            transform: rotate(-90deg) translate(50%);
        }
    }
    &__slider {
        width: 100%;
    }
    &__bgelement {
        position: absolute;
        z-index: 1;
        &_grange {
            top: 0;
            left: 10%;
            width: 35%;
        }
        &_raggedleft {
            left: 0;
            height: 100%;
        }
        &_raggedright {
            right: 0;
            height: 100%;
        }
    }
}
.artist-slider {
    overflow: hidden;
    &__wrapper {
        display: flex;
        width: 100%;
        height: 100%;
    }
    &__slide {
        flex-shrink: 0;
    }
}
.artist-slide {
    display: flex;
    justify-content: center;
    &__content {
        flex: 0 0 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: $color-purple;
    }
    &__star {
        width: 65%;
    }
    &__textblock {
        width: 90%;
    }
    &__bgelement {
        width: 100%;
    }
}
