.lastscreen {
    &__container {
        flex-direction: column;
    }
    &__photo {
        display: flex;
        flex: 0 0 30%;
    }
    &__info {
        flex: 0 0 70%;
    }
}
.lastscreen-photo {
    &__item {
        background-size: cover;
        &_left {
            flex: 0 0 35%;
            background-image: url("../images/voice02.png");
        }
        &_right {
            flex: 0 0 65%;
            background-image: url("../images/people01.png");
        }
    }
}
.lastscreen-info {
    position: relative;
    &__bgelement {
        position: absolute;
        z-index: 1;
        bottom: 0;
        &_grange {
            left: 0;
            height: 60%;
        }
        &_ragged {
            right: 0;
            height: 75%;
        }
    }
}
