.footer {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70vh;
        margin-top: -70vh;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        width: 60%;
        height: 60%;
    }
    &__logo {
        align-self: start;
        width: 13%;
    }
    &__button {
        align-self: start;
    }
}
.column {
    font-size: 1.5rem;
    &__title {
        font-size: 1.7rem;
        font-weight: bold;
        margin-bottom: 8%;
    }
}