.footer {
    width: 60%;
    height: 60%;
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        align-self: start;
        width: 13%;
    }
    &__button {
        align-self: start;
    }
}
.footer-nav {
    font-size: 1.5rem;
    &__title {
        font-size: 1.7rem;
        font-weight: bold;
        margin-bottom: 8%;
    }
    &__item {
        &:hover {
            color: $color-purple;
        }
    }
}