.header {
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    height: auto;
    background-color: transparent;
}
.header-nav {
    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10%;
        width: 40%;
        margin: 0 auto;
        padding: 20px 0;
    }
    &__item {
        text-transform: uppercase;
        font-size: 1.4rem;
        &:hover {
            color: $color-purple;
        }
    }
    &__link.active-nav {
        color: $color-purple;
        font-weight: 700;
    }
}

// ----------------------------------------------media----------------------------------------------
@media (max-width: 1000px) {
    .header {
        display: none;
    }
}