@keyframes navimpulse {
    0% {left: -170px;}
    40% {left: -170px;}
    50% {left: -155px;}
    60% {left: -170px;}
    100% {left: -170px;}
}

.navigation {
    position: fixed;
    z-index: 20;
    top: 0;
    left: -200px;
    display: flex;
    height: 100vh;
    width: 200px;
    transition: 700ms;
    &.active-bar {
        left: -170px;
        transition: 700ms;
    }
    &:hover {
        left: 0;
        .navigation__bar {
            width: 6px;
            background-color: $color-purple;
            color: transparent;
        }
    }
    &__list {
        flex: 1 1 auto;
        z-index: 22;
        display: flex;
        flex-direction: column;
        background-color: $color-gray;
    }
    &__item {
        position: relative;
        flex: 1 0 auto;
        width: 100%;
        border: 1px solid $color-darkgray;
        border-left: none;
        border-right: none;
        background-color: $color-gray;
        transition: 400ms;
        &::before {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            content: '';
            height: 100%;
            width: 8px;
            opacity: 0;
            background-color: $color-purple;
        }
        &:hover {
            flex: 2 0 auto;
            width: calc(100% + 30px);
            color: $color-purple;
            font-weight: 700;
            font-size: 1.2rem;
        }
        &:hover::before {
            opacity: 1;
        }
    }
    &__link {
        display: block;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 5px 10px;
        text-transform: uppercase;
    }
    &__link.active-nav {
        background-color: $color-lightgray;
        color: $color-purple;
    }
    &__arrow {
        width: 100%;
        height: 10%;
        transition: 700ms;
        font-size: 3.5rem;
        color: $color-darkgray;
    }
    &__arrow-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0;
        &_up {
            transform: rotate(180deg);
        }
    }
    &__bar {
        z-index: 21;
        display: flex;
        justify-content: end;
        align-items: center;
        width: 30px;
        padding: 20px 0;
        background-color: $color-darkgray;
        writing-mode: vertical-lr;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        color: $color-gray;
        transform: rotate(180deg);
        transition-duration: 700ms;
        cursor: default;
    }
}