.navigation {
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: $color-gray;
    &__list {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    &__item {
        position: relative;
        flex: 1 0 auto;
        width: 100%;
        border: 1px solid $color-darkgray;
        background-color: $color-gray;
        transition: 300ms;
        &::before {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            content: '';
            height: 100%;
            width: 6px;
            opacity: 0;
            background-color: $color-purple;
        }
        &:hover {
            flex: 2 0 auto;
            width: 120%;
            color: $color-purple;
            font-weight: 700;
        }
        &:hover::before {
            opacity: 1;
        }
    }
    &__link {
        display: block;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 5px 25px 5px 10px;
        text-transform: uppercase;
    }
    &__arrow {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        align-self: center;
        width: 50px;
        border: none;
        line-height: 0;

        a {
            padding: 0;
        }
        img {

        }
        &_up {
            transform: rotate(180deg);
        }
        &_down {
        }
    }

}
