@import url(https://fonts.googleapis.com/css?family=Monda:regular,700);
@import url(https://fonts.googleapis.com/css?family=Staatliches:regular);

body {
    min-height: 3000px;
    font-family: Monda;
    font-weight: regular;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.header {

    &__nav {
    }

    &__list {
    }

    &__link {
    }
}
// ---------------------------------------firstscrean---------------------------------------
.firstscreen {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        height: 100vh;
        background-color: #e1e1e1;
        overflow: hidden;
    }

    &__info {
        position: relative;
        display: flex;
        justify-content: center;
    }

    &__presentation {
    }

    &__bgelements {
    }

    &__image {
        flex: 0 0 30%;
        z-index: 2;
        background-image: url("/images/voice01.png");
        background-size: cover;
    }
}

.welcomeinfo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 50%;
    gap: 5%;
    z-index: 2;
    margin-top: 22%;

    &__img {
        width: 55%;
        z-index: 2;
    }
    &__zigzag {
        position: absolute;
        top: -5%;
        right: -25%;
        width: 60%;
        z-index: 1;
    }
}
.stickers {
    position: relative;
    width: 100%;
    height: 60px;

    &__item {
        position: absolute;
        display: inline-block;
        padding: 0 18px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        color: #e1e1e1;

        &_black {
            background-color: #000;
            transform: rotate(-6deg);
        }
        &_purple {
            right: 0;
            bottom: 0;
            background-color: #9913e1;
            transform: rotate(-3deg);
        }
    }
}
.textblock {
    line-height: 1.4rem;
    text-align: center;
    font-size: 1.2rem;

    &__bold {
        font-weight: 700;
        color: #9913e1;
    }
}
.firstbg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

    &__ragged {
        position: absolute;
        height: 100%;
    }
    &__logo {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 10%;
    }
    &__grange {
        position: absolute;
        top: -23%;
        left: 24%;
        width: 48%;
        transform: rotate(-10.2deg);
    }
    &__downbutton {
        position: absolute;
        bottom: 10%;
        left: 10%;
    }
}