@import url(https://fonts.googleapis.com/css?family=Monda:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Staatliches:regular&display=swap);

$color-purple: #9913e1;
$color-gray: #e1e1e1;
$color-darkgray: #a9a9a9;

html {
    scroll-behavior: smooth;
}

body {
    font-family: Monda, sans-serif;
    font-weight: regular;
    // overflow: hidden;
}
body.lock {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    height: 100%;
    background-color: $color-gray;
}


// ----------------------------------------------import----------------------------------------------
@import "navigation.scss";
@import "components.scss";
@import "header.scss";
@import "01firstscreen.scss";
@import "02dates.scss";
@import "03tickets.scss";
@import "04about.scss";
@import "05bonus.scss";
@import "06arena.scss";
@import "07artists.scss";
@import "08feedback.scss";
@import "09lastscreen.scss";
@import "footer.scss";
@import "popup.scss";