@import url(https://fonts.googleapis.com/css?family=Monda:regular,700);
@import url(https://fonts.googleapis.com/css?family=Staatliches:regular);

$color-purple: #9913e1;
$color-gray: #e1e1e1;

body {
    // min-height: 3000px;
    font-family: Monda;
    font-weight: regular;
}

.screen {
    height: 100vh;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

.stickers {
    position: relative;
    width: 100%;
    height: 60px;
    z-index: 6;
    &__item {
        position: absolute;
        display: inline-block;
        padding: 0 18px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        color: $color-gray;
        &_black {
            background-color: #000;
            transform: rotate(-6deg);
        }
        &_purple {
            right: 0;
            bottom: 0;
            background-color: $color-purple;
            transform: rotate(-3deg);
        }
    }
}

.textblock {
    line-height: 1.4rem;
    font-size: 1.2rem;
    text-align: justify;
    z-index: 5;
    &_center {
        text-align: center;
    }
    &__bold {
        font-weight: 700;
        color: $color-purple;
        &_white {
            color: $color-gray;
        }
    }
}

.title {
    position: relative;
    z-index: 5;
    font-family: Staatliches;
    font-size: 6rem;
    line-height: 5.5rem;
    span {
        color: $color-purple;
    }
    &_white {
        span {
            color: $color-gray;
        }
    }
}

.button {
    z-index: 4;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    border: 4px solid $color-purple;
    background-color: $color-gray;
    color: $color-purple;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
    &_white {
        border: 4px solid $color-gray;
        background-color: $color-purple;
        color: $color-gray;
    }
}

.navbutton {
    position: absolute;
    left: 3%;
    height: 13%;
    z-index: 7;
    img {
        height: 100%;
    }
    &_up {
        top: 8%;
        img {
            transform: rotate(180deg);
        }
    }
    &_down {
        bottom: 10%;
    }
}


// ----------------------------------------------header----------------------------------------------
.header {
    &__container {
        position: absolute;
        top: 8%;
        left: 0;
        right: 0;
        z-index: 3;
        width: 100%;
    }
}
.navigation {
    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10%;
        width: 40%;
        margin: 0 auto;
        padding: 20px 0;
    }
    &__link {
        text-transform: uppercase;
        font-size: 1.4rem;
        &_active {
            font-weight: 700;
            color: $color-purple;
        }
    }
}

// ----------------------------------------------import----------------------------------------------
@import "01firstscreen";
@import "02dates";
@import "03tickets.scss";
@import "04about.scss";
@import "05bonus.scss";
@import "06arena.scss";
@import "07artists.scss";