/* Scrollbar */
.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, 0.1);
    .swiper-scrollbar-disabled > &,
    &.swiper-scrollbar-disabled {
    display: none !important;
    }
    .swiper-horizontal > &,
    &.swiper-scrollbar-horizontal {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 9;
      height: 15px;
      width: calc(100% - 30px);
    }
  //   .swiper-vertical > &,
  //   &.swiper-scrollbar-vertical {
  //     position: absolute;
  //     right: 3px;
  //     top: 1%;
  //     z-index: 50;
  //     width: 5px;
  //     height: 98%;
  //   }
  // }
  .swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    // background: rgba(0, 0, 0, 0.5);
    background: $color-purple;
    // border-radius: 10px;
    left: 0;
    top: 0;
    cursor: pointer;
  }
  .swiper-scrollbar-cursor-drag {
    cursor: move;
  }
  .swiper-scrollbar-lock {
    display: none;
  }
}