.activearrow {
    color: $color-darkgray;
    cursor: pointer;
    &:hover {
        color: $color-purple;
        animation: none;
    }
}
.noactivearrow {
    color: $color-lightgray;
    cursor: default;
}